<%- include('../../../partials/header'); -%>

<%- include('../../../partials/sidebar'); -%>


<div class="main-panel">
  <!-- Navbar area -->
  <%- include('../../../partials/navbar'); -%>

  <div class="content">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-12">
          <div class="card">
            <div class="card-header card-header-primary">
              <h4 class="card-title">Environmental Safety Checklist Form </h4>
              <p class="card-category">Please fill in all required fields</p>
            </div>
            <div class="card-body">
              <form id="environmental_checklist_form" autocomplete="on">
                <div class="row">
                  <div class="col-md-4">
                    <div class="form-group">
                      <label class="bmd-label-floating">Agency Name *</label>
                      <input type="text" class="form-control" id="agency" required>
                    </div>
                  </div>
                  <div class="col-md-4">
                    <div class="form-group">
                      <label class="bmd-label-floating">Consumer Name *</label>
                      <input type="text" class="form-control" id="con" required>
                    </div>
                  </div>
                  <div class="col-md-4">
                    <div class="form-group">
                      <label class="bmd-label-floating">Local Case Number *</label>
                      <input type="text" class="form-control" id="lcNum" required>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-6">
                    <div class="form-group">
                      <label class="bmd-label-floating">Site Inspector Name *</label>
                      <input type="text" class="form-control" id="inspector" required>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group">
                      <label class="bmd-label-floating">Site Inspected *</label>
                      <input type="text" class="form-control" id="site" required>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-6">
                    <div class="form-group">
                      <label class="bmd-label-floating">Title of Inspection *</label>
                      <input type="text" class="form-control" id="title" required>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group">
                      <label class="label-control">Inspection Date *</label>
                      <input type="text" class="form-control datepicker" id="date" required>
                    </div>
                  </div>
                </div>
                <h5 class="section-header" style="margin-top: 2rem; text-align: center;">Detailed Areas Inspected</h5>
                
                <% for(const [i, data] of datas.entries()){ %>
                  <hr class="section-ruler" />
                  <div class="questions-section">
                    <h5 class="section-header"><%= data.title %> </h5>
                    <div class="row">
                      <% for(const [j, question] of data.questions.entries()){ %>
                        <div class="col-md-3 col-sm-5 checkbox-radios inline-options">
                          <p><%= question %></p>
                          <div class="form-check">
                            <label class="form-check-label">
                              <input class="form-check-input" type="radio" name="radio-<%= i+''+j %>" value="yes" checked=""> Yes
                              <span class="circle"> <span class="check"></span></span>
                            </label>
                          </div>
                          <div class="form-check">
                            <label class="form-check-label">
                              <input class="form-check-input" type="radio" name="radio-<%= i+''+j  %>" value="no"> No
                              <span class="circle"><span class="check"></span></span>
                            </label>
                          </div>
                        </div>
                      <% } %>
                    </div>
                  </div>
                <% } %>

                <button type="submit" class="btn btn-primary pull-right">Submit</button>
                <div class="clearfix"></div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Bottom footer -->
  <%- include('../../../partials/bottombar'); -%>
</div>

<!-- page footer -->
<%- include('../../../partials/footer'); -%>