<%- include('../../../../partials/header'); -%>

<%- include('../../../../partials/sidebar'); -%>


<div class="main-panel">
  <!-- Navbar area -->
  <%- include('../../../../partials/navbar'); -%>

  <div class="content">

    <div class="container-fluid">

      <div class="row">
        <div class="col-md-12">
          <div class="card">
            <div class="card-header card-header-text card-header-primary">
              <div class="card-text">
                <h4 class="card-title ">Supported Employment / Employment Assistance Service Delivery Log Form</h4>
                <p class="card-category">CONSUMER Local Case Number: <%= form.consumer.lcNumber %></p>
              </div>
            </div>
            <br/>
            <div class="card-body">
              <div class="row">
                <div class="col-md-12">
                <div class="row">
                  <div class="card-header col-md-6">
                    <h4 class="card-title" style="font-weight:bold">Consumer Name</h4>
                    <p class="card-category">
                      <%= form.consumer.firstName +' '+ form.consumer.lastName %>
                    </p>
                  </div>
                  <div class="card-header col-md-6">
                    <h4 class="card-title" style="font-weight:bold">Consumer Agency</h4>
                    <p class="card-category">
                      <%= form.consumer.agency.name %>
                    </p>
                  </div>
                </div>
                <br>
                </div>
                <div class="col-md-12">
                  <h4 class="card-title">Records entered so far</h4>
                    <div class="card-body" style="padding:0px">
                      <div class="table-responsive">
                        <table class="table table-hover data-table">
                          <thead class="">
                            <th class="text-bold">
                              S/N
                            </th>
                            <th class="text-bold">
                              Date of Service
                            </th>
                            <th class="text-bold">
                              Begin Time (Morning)
                            </th>
                            <th class="text-bold">
                              End Time (Morning)
                            </th>
                            <th class="text-bold">
                              Begin Time (Evening)
                            </th>
                            <th class="text-bold">
                              End Time (Evening)
                            </th>
                            <th class="text-bold">
                              Location
                            </th>
                            <th class="text-bold">
                              Services provided code
                            </th>
                            <th class="text-bold">
                              Attendant Staff
                            </th>
                          </thead>
                          <tbody>
                            <% for(const [i, record] of form.records.entries()){ %>
                              <tr>
                                <td>
                                  <%= i+1 %>
                                </td>
                                <td class="formatted-date">
                                  <%= record.dateOfService %>
                                </td>
                                <td>
                                  <%= record.beginTime.morning %>
                                </td>
                                <td>
                                  <%= record.endTime.morning %>
                                </td>
                                <td>
                                  <%= record.beginTime.evening %>
                                </td>
                                <td>
                                  <%= record.endTime.evening %>
                                </td>
                                <td>
                                  <%= record.location %>
                                </td>
                                <td>
                                  <%= record.servicesCode %>
                                </td>
                                <td>
                                  <%= record.staffSignature %>
                                </td>
                              </tr>
                            <% } %>
                          </tbody>
                        </table>
                      </div>
                    </div>
                  </br>
                  <h4 class="card-title">Comments (Special Events / Occurrences)</h4>
                    <div class="card-body" style="padding:0px">
                      <div class="table-responsive">
                        <table class="table table-hover data-table">
                          <thead class="">
                            <th class="text-bold">
                              S/N
                            </th>
                            <th class="text-bold">
                              Date
                            </th>
                            <th class="text-bold">
                              Staff Initials
                            </th>
                            <th class="text-bold">
                              Comments
                            </th>
                          </thead>
                          <tbody>
                            <% for(const [i, comment] of form.comments.entries()){ %>
                              <tr>
                                <td>
                                  <%= i+1 %>
                                </td>
                                <td class="formatted-date">
                                  <%= comment.commentDate %>
                                </td>
                                <td>
                                  <%= comment.staffInitials %>
                                </td>
                                <td>
                                  <%= comment.commentText %>
                                </td>
                              </tr>
                            <% } %>
                          </tbody>
                        </table>
                      </div>
                    </div>
                </div>
              </div>
              <br/>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>



  <!-- Bottom footer -->
  <%- include('../../../../partials/bottombar'); -%>
</div>

<!-- page footer -->
<%- include('../../../../partials/footer'); -%>