<%- include('../../../../partials/header'); -%>

<%- include('../../../../partials/sidebar'); -%>


<div class="main-panel">
  <!-- Navbar area -->
  <%- include('../../../../partials/navbar'); -%>

  <div class="content">

    <div class="container-fluid">
      <div class="row">
        <div class="col-md-12">
          <div class="card">
            <div class="card-header card-header-primary">
              <h4 class="card-title ">Day Habilitation Service Delivery Log</h4>
              <p class="card-category">Lists all forms</p>
              <a href="/dashboard/consumers/day-habilitation-service?new=true" type="button" id="add-btn" class="btn btn-light pull-right btn-sm">Add New Form</a>
            </div>
            <div class="card-body">
              <div class="table-responsive">
                <table class="table data-table">
                  <thead class="text-primary">
                    <th class="text-bold">
                      Consumer Name
                    </th>
                    <th class="text-bold">
                      Local Case Number
                    </th>
                    <th class="text-bold">
                      Place of Service(s)
                    </th>
                    <th class="text-bold text-right">
                      Actions
                    </th>
                  </thead>
                  <tbody>
                   <% for(log of logs){ %>
                    <tr>
                      <td>
                        <%= log.consumer.firstName +" "+ log.consumer.lastName %>
                      </td>
                      <td>
                        <%= log.lcNumber %>
                      </td>
                      <td>
                        <%= log.placeOfService %>
                      </td>
                      <td class="text-right">
                        <a href="/dashboard/applications" rel="tooltip" data-original-title="View Form"  class="btn btn-link btn-info btn-just-icon like show-details"><i class="material-icons">description</i></a>
                        <a href="#" rel="tooltip" data-original-title="Edit Form" class="btn btn-link btn-warning btn-just-icon remove"><i class="material-icons">edit</i></a>
                        <a href="#" rel="tooltip" class="btn btn-link btn-danger btn-just-icon remove"><i class="material-icons">close</i></a>
                      </td>
                    </tr>
                  <% } %>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
    
      </div>
    
    </div>
  
  
  </div>



  <!-- Bottom footer -->
  <%- include('../../../../partials/bottombar'); -%>
</div>

<!-- page footer -->
<%- include('../../../../partials/footer'); -%>