<%- include('../../partials/header'); -%>

<%- include('../../partials/sidebar'); -%>


<div class="main-panel">
  <!-- Navbar area -->
  <%- include('../../partials/navbar'); -%>

  <div class="content">

    <div class="container-fluid">

      <div class="row">
        <div class="col-md-12">
          <div class="card">
            <div class="card-header card-header-text card-header-primary">
              <div class="card-text">
                <h4 class="card-title "><%= application.firstName + " " + application.lastName %></h4>
                <p class="card-category">Kindly review application before approving</p>
              </div>
            </div>
            <div class="card-body">
              <div class="row">
                <div class="col-md-5">
                  <div class="card-header">
                    <h4 class="card-title">Email Address</h4>
                    <p class="card-category">
                      <%= application.email %>
                    </p>
                  </div>
                  <div class="card-header">
                  <h4 class="card-title">Social Security Number</h4>
                  <p class="card-category">
                    <%= application.ssn %>
                  </p>
                </div>
                <div class="card-header">
                  <h4 class="card-title">High School</h4>
                  <p class="card-category">
                    <%= application.high_school %>
                  </p>
                </div>
                <div class="card-header">
                  <h4 class="card-title">Address</h4>
                  <p class="card-category">
                    <%= application.address %>
                  </p>
                </div>
                </div>
                <div class="col-md-7">
                  <h4 class="card-title">References</h4>
                  <div class="row">
                    <div class="col-md-2">S/N</div>
                    <div class="col-md-6">Name</div>
                    <div class="col-md-4">Phone</div>
                    <% for(const [index, referee] of application.references.entries()){ %>
                      <div class="col-md-2"><%= index + 1 %>.</div>
                      <div class="col-md-6"><%= referee.name %></div>
                      <div class="col-md-4"><%= referee.phone %></div>
                    <% } %>
                  </div>
                  <br/>
                  <h4 class="card-title">Documents</h4>
                  <div class="row">
                    <div class="col-md-2">S/N</div>
                    <div class="col-md-6">Document Name</div>
                    <div class="col-md-4">View</div>
                    <% for(const [index, referee] of application.references.entries()){ %>
                      <div class="col-md-2"><%= index + 1 %>.</div>
                      <div class="col-md-6"><%= referee.name %></div>
                      <div class="col-md-4">
                        <a href="#" class="btn btn-link btn-info btn-just-icon like"><i class="material-icons icon-tiny">description</i></a>
                      </div>
                    <% } %>
                  </div>
                </div>
              </div>
              <br/>
              <br/>
              <div class="row">
                <div class="col-md-12">
                  <div class="row">
                      <label class="col-sm-1 col-form-label label-checkbox">Approve Application</label>
                      <div class="col-sm-2 checkbox-radios" >
                        <div class="form-check form-check-inline">
                          <label class="form-check-label" for="approved">
                            <% if(application.approved){ %>
                              <input class="form-check-input" id="approved" type="checkbox" checked>
                            <% } else { %>
                              <input class="form-check-input" id="approved" type="checkbox">
                            <% } %>
                            <span class="form-check-sign">
                              <span class="check"></span>
                            </span>
                          </label>
                        </div>
                      </div>
                      <div class="col-md-9">
                        <button type="button" id="save_application_btn" class="btn btn-primary">Save Changes</button>
                      </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>



  <!-- Bottom footer -->
  <%- include('../../partials/bottombar'); -%>
</div>

<!-- page footer -->
<%- include('../../partials/footer'); -%>