<%- include('../../partials/header'); -%>

<%- include('../../partials/sidebar'); -%>


<div class="main-panel">
  <!-- Navbar area -->
  <%- include('../../partials/navbar'); -%>

  <div class="content">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-6">
          <div class="card">
            <div class="card-header card-header-primary">
              <h4 class="card-title">Change your password</h4>
              <p class="card-category">Please fill in all required fields</p>
            </div>
            <div class="card-body">
              <form id="change-password-form">
                <br>
                <div class="row">
                  <div class="col-md-7">
                    <div class="form-group">
                      <label class="bmd-label-floating">Current Password *</label>
                      <input type="password" class="form-control" id="currentPassword" required>
                    </div>
                    <br>
                  </div>
                  <div class="col-md-7">
                    <div class="form-group">
                      <label class="bmd-label-floating">New Password *</label>
                      <input type="password" class="form-control" id="newPassword" required>
                    </div>
                    <br>
                  </div>
                  <div class="col-md-7">
                    <div class="form-group">
                      <label class="bmd-label-floating">Confirm New Password *</label>
                      <input type="password" class="form-control" id="confirmPassword" required>
                    </div>
                    <br>
                  </div>
                </div>
                <br>
                <button type="submit" id="reset-password-btn" class="btn btn-primary pull-right">Update Password</button>
                <div class="clearfix"></div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Bottom footer -->
  <%- include('../../partials/bottombar'); -%>
</div>

<!-- page footer -->
<%- include('../../partials/footer'); -%>