<%- include('../../partials/header'); -%>

<%- include('../../partials/sidebar'); -%>


<div class="main-panel">
  <!-- Navbar area -->
  <%- include('../../partials/navbar'); -%>

  <div class="content">

    <div class="container-fluid">

      <div class="row">
        <div class="col-md-12">
              <div class="card">
                <div class="card-header card-header-primary">
                  <h4 class="card-title ">All Consumers</h4>
                  <p class="card-category">Lists all Registered Consumers</p>
                </div>
                <div class="card-body">
                  <div class="table-responsive">
                    <table class="table data-table table-striped dataTable table-hover table-no-bordered">
                      <thead class="text-primary">
                        <th class="text-bold">
                          First Name
                        </th>
                        <th class="text-bold">
                          Last Name
                        </th>
                        <th class="text-bold">
                          Local Case/Care Number
                        </th>
                        <th class="text-bold">
                          Date of Birth
                        </th>
                        <th class="text-bold">
                          Phone Number
                        </th>
                        <th class="text-bold text-right">
                          Actions
                        </th>
                      </thead>
                      <tbody>
                        <% for(consumer of consumers){ %>
                          <tr>
                            <td>
                              <%= consumer.firstName %>
                            </td>
                            <td>
                              <%= consumer.lastName %>
                            </td>
                            <td class="text-danger" style="font-size: 1.2rem">
                              <%= consumer.lcNumber %>
                            </td>
                            <td class="formatted-date">
                              <%= consumer.dob %>
                            </td>
                            <td>
                              <%= consumer.phone %>
                            </td>
                            <td class="text-right">
                              <a href="/dashboard/consumers/<%= consumer._id %>" class="btn btn-link btn-info btn-just-icon like"><i class="material-icons">person</i></a>
                              <a href="#" class="btn btn-link btn-warning btn-just-icon edit"><i class="material-icons">dvr</i></a>
                              <a href="#" class="btn btn-link btn-danger btn-just-icon remove"><i class="material-icons">close</i></a>
                            </td>
                          </tr>
                        <% } %>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
    
      </div>
    
    </div>
  
  
  </div>



  <!-- Bottom footer -->
  <%- include('../../partials/bottombar'); -%>
</div>

<!-- page footer -->
<%- include('../../partials/footer'); -%>